@model BookStore.ViewModels.UpdateBookViewModel

@{
    ViewBag.Title = "Criando um novo Livro....";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@helper MyFunction(string name)
{
    <text>Você está logado como: @name </text>
}

<p>
    @MyFunction("Joao Melão")
</p>


<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    @Html.Partial("Partials/UpdateBookPartial", Model)
    <div class="col-form-label">
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>

    @*
        <div class="col-auto">
            @Html.DropDownListFor(model => model.CategoryId,
                                  Model.CategoryOptions,
                                  "Selecione uma opção...")
        </div>
        */
    *@
}

@section menu {
    <ul class="nav nav-pills nav-stacked">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Books", "Index", "Book")</li>
        <li>@Html.ActionLink("Authors", "Index", "Author")</li>
        <li>@Html.ActionLink("Categories", "Index", "Category")</li>
    </ul>
}