@model IEnumerable<BookStore.Domain.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @Html.Partial("Partials/ListBookPartial", Model)
</body>
</html>

@section menu {
    <ul class="nav nav-pills nav-stacked">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Books", "Index", "Book")</li>
        <li>@Html.ActionLink("Authors", "Index", "Author")</li>
        <li>@Html.ActionLink("Categories", "Index", "Category")</li>
    </ul>
}   